*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* .headder{
    background-color:#011828;
    width: 100%;
}
 .logo{
     font-weight: 400px;
     font-size: 55px;
     color: white;
     font-family: 'Comfortaa';
     padding: 10px 0 10px 80px;
 }
.logo_{
    color: red;
 }
 .headder_logo{
     display: flex;
     justify-content: left;
 }
 .headder_clicks{
     display: flex;
     justify-content:right;
     justify-content:space-evenly;
 }
 .clicks{
    font-family: 'Comfortaa';
    font-size: 24px;
    color: white;
 }

.apply_button{
    background-color:  #FD5F3C;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 24px;
    color: white;
    font-family: 'Comfortaa';
} */

.bg-image{
    background-image: url("/Apply/images/Rectangle\ 3.png");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textOne{
    font-size: 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
.textTwo{
    font-size: 40px;
    color: white;
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
} 
/* complete css of header part */

/* css of how to apply part */

.headdind-text{
    font-size: 48px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding: 35px 0 40px 110px;
}

.Apply-sections{
    display: flex;
    justify-content: space-between;
}
.apply-section-one{
    margin-left: 150px;
}
.apply-image{
    margin-bottom: 20px;
}
.apply-section-three{
    margin-right: 100px;
}
.apply-section-two{
    margin-left: 30px;
}

.texts{
   text-align: center;
   line-height:24.18px;
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-size: 20px;
}
.text-1{
    margin-bottom: 15px;
}

.text-2{
    color: #0075AE;
}

.Consultation-image{
    margin-left: 20px;
    margin-bottom: 20px;
}
.skills-image{
    margin-left: 60px;
    margin-bottom: 20px;
}
.bg-image2{
    background-image: url("/Apply/images/Rectangle\ 403.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:500px ;
}

/*  end css of how to apply  */


/* starting css of enrollment process */

.headding-text-two{
    font-size: 48px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding: 35px 0 40px 110px;
}

.enrollment-section{
    display: flex;
}

.enrollment-image{
    height: 550px;
    margin-left: 60px;
}
.demo-text{
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #FD5F3C;
    font-family: 'Raleway', sans-serif;
}
.demo-text-description{
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 25px;
    max-width: 740px;
}
.secure-text{
    margin-bottom: 30px;
    margin-top: 100px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #FD5F3C;
    font-family: 'Raleway', sans-serif;
}
.secure-text-description{
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 25px;
    max-width: 740px;
}
.onboarding-text{
    margin-bottom: 30px;
    margin-top: 105px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #FD5F3C;
    font-family: 'Raleway', sans-serif; 
}
.onboarding-text-description{
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 25px;
    max-width: 740px;
}

/* end css of enrollment section */

/* start css of questions section */

.bg-color{
    margin-top: 30px;
    background-image: linear-gradient(rgba(2, 86, 151, 1),
    rgba(2, 86, 151, 0.59));
    height: 373px;
}
.questions-text{
    padding: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
    text-align: center;
}
.question-discription{
    text-align: center;
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;
}

.apply-button{
    margin-top: 40px;
    background-color:  #FD5F3C;
    border: none;
    border-radius: 50px;
    width:236px;
    height: 50px;
    font-size: 24px;
    color: white;
    font-family: 'Comfortaa';
    text-align: center;
    margin-left: 440px;
} 

/* end css of questions section */

/* start css of contact us section */

.contact-us-section{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.bg-color2{
    background-color:rgba(1, 24, 40, 1);
    height: 347px;
}
.contact-us-section-1{
    font-family: 'Raleway', sans-serif;
    color:rgba(227, 227, 227, 1);
    line-height: 45px;
    font-size: 18px;
}

.contact-us-section-2{
    font-family: 'Raleway', sans-serif;
    color:rgba(227, 227, 227, 1);
    line-height: 45px;
    font-size: 18px;
}
.follow-text{
    font-family: 'Raleway', sans-serif;
    color:rgba(227, 227, 227, 1);
    font-size: 18px;
    margin-bottom: 20px;
}
.instagram-image{
    width: 25px;
    height:25px ;
    margin-left: 10px;
    margin-right: 5px;
}
.linkdin-image{
    width: 25px;
    height:25px;
    margin-right: 5px; 
}
.twitter-image{
    width: 25px;
    height:25px;
    margin-right: 5px; 
}

.last-text{
    color: white;
    text-align: center;
    padding-top: 40px;
}