*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-style: normal;
    font-family: serif;
    font-family: 'Raleway', sans-serif;
    
}





.heading{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    background-color: #011828;
    position: relative;
}

.icons img{
    width: 85px;
    position: absolute;
    top: 8px;
    left: 20px;
   
    
}

.vector1 img{
    width: 18px;
    height: 12px;
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 85.5%;
    right: 12.5%;
}

.packing{
    display: none;
}




@media only screen and (min-width:768px){


    .heading{
        display: none;
    }
.packing{
    position: absolute;
    width:100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    /* overflow-y: hidden; */
    position: fixed;
    top: 0;
    z-index: 999;
    background: #011828;
    border-bottom: 1px solid #011828;

}

.logo img{
    width: 90px;
height: 25px;
}

.navigation ul{
    display: flex;
    justify-content: space-evenly;
}

.navigation ul li{
    list-style: none;
    margin-right: 24px;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    padding:16px;
    display: inline-block;
    font-size: 18px;   
}

nav ul li a:hover{
    opacity: 0.6;
}

nav button {
width: 100px;
height: 30px;
background: #FD5F3C;
border-radius: 50px;
border: none;
}

}




.banner-image{
     background-image: url(/homepage/images/Rectangle\ 3.png);
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: auto;
  height: 159px; 
   max-height: 600px;
}

.choose{
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.banner-image span{
    width: 234.27px;
height: 23.68px;
    font-family: 'Raleway';
font-style: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
 margin-left: auto;
 margin-right: auto;
 margin-top: 6px;
 display: block;
 text-align: center;
}

.banner-image p{
padding: 25px;
width: 334px;
height: 49px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display:block;
margin-left: auto;
margin-right: auto;
color: #FFFFFF;
}

@media only screen and (min-width:768px){
    .banner-image{
        height: 290px;
    }

    .banner-image span{
        width: 643px;
height: 65px;
        font-size: 25px;
        font-weight: 600;
        line-height: 65px;
    }

    .banner-image p{
        width: 500px;
height: 56px;
        font-size: 13px;
        font-weight: 500;
        line-height: 28px;
        padding: 0px;
    }

}













.why-access{
    width: 100%;
background-image: url(/homepage/images/Rectangle\ 4.png);
position: relative;
text-align: center;
background-repeat: no-repeat;
background-position: center center;
background-size: 100% 100%;
height: 534px; 
 max-height: 600px;


}

.why-access-text p{
height: 21px;
padding: 20px;

font-family: 'Raleway';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

display: block;
text-align: center;
/* Primary Blue */

color: #011728;

}

@media only screen and (min-width:768px){
 .wrapper {
     display: flex;
 }
 .why-access{
     height: 250px;
     width: 100%;
    
 }

 .why-access-text p{
    
    height: 56px;  
    font-size: 29px;
    line-height: 56px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    
 }

}


.community img{
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    
}

.community span{
/* height: 20px; */
display: block;
text-align: center;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 30px;
color: #FD5F3C;

}

.community p{
/* height: 60px; */
/* padding:10px; */


font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* or 125% */
display: block;
text-align: center;

/* Primary Blue */

color: #011728;


}



@media only screen and (min-width:768px){

    .community img{
       margin-left: 40px;
        margin-top: 30px;   
        width: 26px;
        height: 26px;
    }

    
.community span{
    margin-left: 40px;
    text-align: left;
    font-size: 12px;
    }
    
    .community p{
    margin-left: 40px;
    text-align: left;
    font-size: 10px;
    }
}


.career img{
    width: 36px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-repeat: no-repeat;
}

.career span{
/* height: 20px; */
display: block;
text-align: center;


font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 30px;
/* or 214% */



/* Orange */

color: #FD5F3C;
}

.career p{
/* height: 45px; */

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* or 125% */
display: block;
text-align: center;

/* Primary Blue */

color: #011728;

}


@media only screen and (min-width:768px){
   
.career img{
    margin-left: 40px;
    margin-top: 30px;
    width: 26px;
    height: 26px;
}

.career span{
text-align: left;
margin-left: 40px;
font-size: 10px;
}

.career p{
margin-left: 40px;
text-align:left;
font-size: 10px;
}

}


.real img{
    width: 36px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-repeat: no-repeat;


}


.real span{
/* height: 20px; */

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 30px;
/* or 214% */

display: block;
text-align: center;

/* Orange */

color: #FD5F3C;

}


.real p{

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
display: block;
text-align: center;
color: #011728;
}


@media only screen and (min-width:768px){
    .real img{
        margin-top: 30px;
        margin-left: 40px; 
        width: 26px;
        height: 26px;
    }
    
.real span{
    margin-left: 40px;
    text-align: left;
    font-size: 10px;
    }
    
    
    .real p{
    text-align: left;
    margin-left: 40px;
    font-size: 10px;
    }
}


.course-layout{
    position: relative;
}

.course-layout span{
    

    height: 14.79px;
    display: block;
    text-align: center;
    margin-top: 25px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    /* identical to box height, or 82% */
    
    /* Primary Blue */
    
    color: #011728; 
}


.course-layout p{
height: 34px;
padding: 25px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* or 123% */
display: block;
text-align: center;

/* Primary Blue */

color: #011728;
}

.course-layout ul  {
padding: 25px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
/* or 125% */


/* Primary Blue */

color: #011728;

list-style: none; 
}

.bullets ul{
    list-style-image: url(/homepage/images/Ellipse\ 2.png);
    background-size: auto;
    background-repeat: no-repeat;
    padding: 20px;
    /* width: 12px;
    height: 12px; */
    
    margin-left: 1em;
    display:block;
    line-height:20px;
    

}


.course-layout input, select{
width: 250px;
height: 35px;
padding-left: 25px;
display: block;
margin-top: 25px;
margin-bottom: 25px;
margin-left: auto;
margin-right: auto;
border: none;

background: #D0D0FF;
border-radius: 30px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 30px;
color: #011728;

}

.course-layout ::placeholder{
    
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 30px;
color: #011728;
}


.course-layout button{
    width: 250px;
height: 50px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 10px;
background: #FD5F3C;
border-radius: 30px;
border: none;
}

.course-layout button p{
text-align: center;
font-family: Raleway;
font-style: normal;
font-size: 18px;
padding: 10px;

color: #FFFFFF;
}


@media only screen and (min-width:768px){
    .course-layout{
        display: flex;
        justify-content: space-between;
        height: 350px;
        position: relative;
    }


    
.course-layout span{
    margin-top: 25px;
    font-size: 30px;
line-height: 30px;

}


.course-layout p{
 padding: 0px;
 margin: 40px 40px 0px 40px; 
font-size: 12px;
line-height: 15px; 
}

.course-layout ul  {
padding: 0px 25px 25px 25px;
font-size: 12px;
line-height: 45px; 
}

.bullets ul{
    list-style-image: url(/homepage/images/Ellipse\ 2.png);
    background-size: auto;
    background-repeat: no-repeat;
    padding: 40px 40px 40px 40px;
    margin-left: 1em;
    line-height:30px;
    

}


.course-layout input, select{
width: 200px;
height: 25px;
padding-left: 25px;
padding-right: 25px;
display: block;
margin-top: 25px;
margin-bottom: 25px;
margin-left: auto;
margin-right: 45px;
border: none;

background: #D0D0FF;
border-radius: 30px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 30px;
color: #011728;

}

.course-layout ::placeholder{
    
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 30px;
color: #011728;
}


.course-layout button{
    width: 200px;
height: 35px;
/* display: block; */
margin-left: auto;
margin-right: 45px;
margin-top: 20px;
margin-bottom: 10px;
background: #FD5F3C;
border-radius: 30px;
border: none;
}

.course-layout button p{
text-align: center;
font-size: 10px;
margin-top: auto;
margin-bottom: auto;
color: white;
}


}



.online{
    width: 100%;
    background-image: url(/homepage/images/onlineoffline.png);
    position: relative;
    /* text-align: center; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: auto;
    height: 332.15px; 
     max-height: 600px;

}
.flex2 img{
    display: none;
}


.online span{

display: block;
text-align: center;
margin-top: 20px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
 color: #011728;
} 

.online p{ 

 text-align: center;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px; 
color: #011728;
} 

 .online ul{

display: block;
padding: 25px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px; 
color : #011728;
list-style : none;
}

.online ul li::before {
    content: "\2022";
    color: #FD5F3C;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
} 

.online-text p{ 
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
     color: #011728;
     margin-left: auto;
     margin-right: auto;
    } 


    .online button{
        
width: 146.32px;
height: 31px;
background: #FD5F3C;
border-radius: 18.6px;
border: none;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 10px;
display: block;
    }

    .online button p{
font-family: Raleway;
font-style: normal;

font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

padding: 5px;
display: block;
text-align: center;

color: #FFFFFF;
    }



    @media only screen and (min-width:768px)
    {
        
.online{
    width: 100%;
    background-image: none;
    /* display: none; */
    position: relative;
    /* text-align: center; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: auto;
    height: 332.15px; 
     max-height: 600px;
     display: flex;
     justify-content: space-evenly;

}
.flex2 img{
    display: block;
    width: 390px;
    height: 300px;
}


.online span{

display: block;
text-align: left;
margin-top: 20px;
margin-left: 30px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
 color: #011728;
} 

.online p{ 

 text-align: left;
 margin-left: 30px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px; 
color: #011728;
} 

 .online ul{

display: block;
/* padding: 25px; */
margin-left: 30px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px; 
color : #011728;
list-style : none;
}

.online ul li::before {
    content: "\2022";
    color: #FD5F3C;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
} 

.online-text p{ 
    text-align:  left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
     color: #011728;
     margin-left: 30px;
     margin-right: auto;
    } 


    .online button{
        
width: 146.32px;
height: 31px;
background: #FD5F3C;
border-radius: 18.6px;
border: none;
margin-left: 30px;
margin-right: auto;
margin-top: 20px;
margin-bottom: 10px;
display: block;
    }

    .online button p{
font-family: Raleway;
font-style: normal;

font-size: 12px;
line-height: 19px;
/* identical to box height, or 155% */

padding: 5px;
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;

color: #FFFFFF;
    }

    }



   .covid p{
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;

display: block;
text-align: center;
margin-left: 10px;
margin-right: 10px;

color: #011728;
    
   }


   @media only screen and (min-width:768px){
    .covid p{
        font-size: 27px;
        line-height: 30px;

    }
  
   }



   .apply{
       width: 100%;
    background-image: url(/homepage/images/Group\ 329\ \(2\).png);
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: auto;
    height: 255px; 
     max-height: 600px;

   }

   .apply span{
    
    /* width: 321px;
    height: 18px; */
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: block;
    text-align: center;
    padding: 10px;
    
    color: #FFFFFF;

   }


   .apply p{
    /* width: 252px;
    height: 151px; */
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    display: block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
   }

   .apply button{
    width: 140px;
    height: 31px;
     background: #FD5F3C;
    border-radius: 18.6px;
    border: none;
    margin-top: 4px;
    margin-bottom: 10px;
    
   }

   .apply button p{
    width: 40.91px;
    height: 1.17px;
    font-family: Raleway;
    font-style: normal;
    font-size: 12px;
    line-height: 17px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    
    color: #FFFFFF;
    
   }


@media only screen and (min-width:768px){
    
   .apply{
    width: 100%;
 background-image: url(/homepage/images/polygon1.png);
 position: relative;
 text-align: center;
 background-repeat: no-repeat;
 background-position: center center;
 background-size: 100% 100%;
 height: auto;
 height: 255px; 
  max-height: 600px;

}

.apply span{
 
 /* width: 321px;
 height: 18px; */
 font-family: Raleway;
 font-style: normal;
 font-weight: normal;
 font-size: 20px;
 line-height: 30px;
 display: block;
 text-align: center;
 padding: 10px;
 padding-top: 20px;
 
 color: #FFFFFF;

}


.apply p{
 /* width: 252px;
 height: 151px; */
 
 font-family: Raleway;
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 15px;
 display: block;
 text-align: center;
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 20px;
 margin-bottom: 10px;
 color: #FFFFFF;
 display: flex;
 justify-content: space-evenly;
}

.apply button{
 width: 140px;
 height: 31px;
  background: #FD5F3C;
 border-radius: 18.6px;
 border: none;
 margin-top: 25px;
 margin-bottom: 10px;
 
}

.apply button p{
 width: 40.91px;
 height: 1.17px;
 font-family: Raleway;
 font-style: normal;
 font-size: 12px;
 line-height: 17px;
 display: block;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 margin-top: -5px;
 
 color: #FFFFFF;
 
}



}





   .career-support p{
       padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    
    color: #011728;
   }

   .image-container{
 background-repeat: no-repeat;
 margin-top: 10px;
 height: 150px;
 width: 150px;
 display: flex;
   }

.text-container p{
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 16px;
margin-top: px;
display: block;
text-align: left;
color: #011728;


}

.text-container button {
width: 130px;
height: 28px;
background: #FD5F3C;
border-radius: 18.6px;
border: none;

/* margin-left: auto;
margin-right: auto; */
margin-top: 10px;
margin-bottom: 10px;
display: block;
}



.text-container button span{
display: block;
text-align: center;


font-family: Raleway;
font-style: normal;
/* font-weight: 600; */
font-size: 12px;
color: #FFFFFF;

}

.container{
    width: 100%;
    display: flex;
}

.career-support{
    width: 100%;
    background-image: url(/homepage/images/Rectangle\ 18.png);
    position: relative;
    /* text-align: center; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: auto;
    height: 262px; 
     max-height: 600px;
}


@media only screen and (min-width:768px){
 
    .career-support p{
        padding-top: 30px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     text-align: center;
     
     font-family: Raleway;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 30px;
     
     color: #011728;
    }
 
    .image-container{
  background-repeat: no-repeat;
  margin-top: -50px;
  height: 250px;
  width: 300px;
  display: flex;
  /* justify-content: space-evenly; */
    }
 
 .text-container p{
 font-family: Raleway;
 font-style: normal;
 font-weight: normal;
 font-size: 13px;
 line-height: 16px;
 margin-left: 100px;
 /* display: flex;
 justify-content: space-evenly; */
 text-align: left;
 color: #011728;
 
 
 }
 
 .text-container button {
 width: 130px;
 height: 28px;
 background: #FD5F3C;
 border-radius: 18.6px;
 border: none;
 
 /* margin-left: auto;
 margin-right: auto; */
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 100px;
 display: block;
 }
 
 
 
 .text-container button span{
 display: block;
 text-align: center;
 
 
 font-family: Raleway;
 font-style: normal;
 /* font-weight: 600; */
 font-size: 12px;
 color: #FFFFFF;
 
 }
 
 .container{
     width: 100%;
     display: flex;
     justify-content: space-evenly;
 }
 
 .career-support{
     width: 100%;
     background-image: url(/homepage/images/Rectangle\ 18.png);
     position: relative;
     /* text-align: center; */
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 100% 100%;
     height: auto;
     height: 262px; 
      max-height: 600px;
 }
 
}


.faizan{
    width: 100%;
    background-image: url(/homepage/images/bubbles1.png);
    position: relative;
    /* text-align: center; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 234px; 
     max-height: 600px;
     
}

.faizan-flex{
    display: flex;
    justify-content: space-evenly;
}

.faizan-image{
   width: 150px;
   height: 150px; 
   margin-top: 25px;
   margin-left: 20px;
/* background-image: url(/homepage/images/faizan.png); */
background-repeat: no-repeat;
/* border: 0.306829px solid #FD5F3C; */
box-sizing: border-box;
/* box-shadow: 0px 1.22732px 1.22732px rgba(0, 0, 0, 0.25), 4.90926px 4.90926px 4.90926px rgba(253, 95, 60, 0.25); */
display: flex;
justify-content: space-evenly;
}

.faizan span{    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;   
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    letter-spacing: 0.3px;
    
    color: #011828;
}



.faizan-text p{

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.0920486px;
color: #011728;
display: block;
text-align:  left;
margin-left: auto;
margin-right: auto;
margin-top: 45px;
margin-right: 20px;
}

.faizan-text span{
font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 13px;
letter-spacing: 0.0920486px;
color: #011728;
}



@media only screen and (min-width:768px){
    
.faizan{
    width: 100%;
    background-image: url(/homepage/images/Group\ 330.png);
    position: relative;
    /* text-align: center; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 234px; 
     max-height: 600px;
     
}

.faizan-flex{
    display: flex;
    justify-content: space-evenly;
}

.faizan-image{
   width: 180px;
   height: 180px; 
   margin-top: 25px;
   margin-left: 50px;
/* background-image: url(/homepage/images/faizan.png); */
background-repeat: no-repeat;
/* border: 0.306829px solid #FD5F3C; */
box-sizing: border-box;
/* box-shadow: 0px 1.22732px 1.22732px rgba(0, 0, 0, 0.25), 4.90926px 4.90926px 4.90926px rgba(253, 95, 60, 0.25); */
display: flex;
justify-content: space-evenly;
}

.faizan span{    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;   
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    letter-spacing: 0.3px;
    
    color: #011828;
}



.faizan-text p{

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.0920486px;
color: #011728;
display: block;
text-align:  left;
margin-left: 100px;
margin-right: auto;
margin-top: 45px;
margin-right: 20px;
}

.faizan-text span{
font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 13px;
letter-spacing: 0.0920486px;
color: #011728;
display: block;
text-align: left;
margin-left: 100px;
}


}


.joc {
    width: 100%;
    background-image: url(/homepage/images/blue-rectangle.png);
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: auto;
    height: 181px; 
     max-height: 600px;

background: linear-gradient(92.59deg, #025697 -4.07%, rgba(2, 86, 151, 0.59) 106.06%);

}

.joc span{

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 15px;

display: block;
text-align: center;
margin-left: auto;
margin-right: auto;

padding-top: 28px;
color: #FFFFFF;

}

.joc p{
    
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
padding-left: 38px;
padding-right: 38px;
padding-top: 20px;
padding-bottom: 20px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
/* or 125% */



color: #FFFFFF;

}


.joc button {
width: 140px;
height: 31px;
background: #FD5F3C;
border-radius: 30px;
border: none;
}

.joc-button span{
font-family: Raleway;
font-style: normal;
font-size: 12px;
line-height: 30px;

display:block;
text-align: center;
padding: 2px;

color: #FFFFFF;
}













