* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* banner section */

.web-development{
    background-image: url(../images/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.heading{
    text-align: center;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: #fff;
    /* position: absolute; */
}
.heading h2{
    text-transform: capitalize;
    font-size: 2.5rem;
    padding-top: 130px;
}
.heading p{
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-top: 30px;
}

/* access section */

.container{
    background-color: #fff;
    box-shadow: 16px 16px 50px rgba(255, 95, 63, 0.25);
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.development{
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top: 10px solid #16649f;
    box-shadow: 0 4px 4px rgba(255, 95, 63, 0.25);
}
.development p{
    font-size: 16px;
}
.access{
    padding-left: 30px;
}
.access span{
    font-size: 12px;
}
.online{
    padding-right: 30px;
}
/* .line{
    height: 2px;
    width: 120px;
    background-color: #16649f;
    margin-left: 88%;
    /* float: left;  
 } */


 /* container section */

 .container1{
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: space-around;
}

 .container1 h5{
    color: #16649f;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 600;
    padding: 20px 0 20px 0;
}
.container1 p{
    padding-bottom: 5px;
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.part-time ,.skills h5{
    text-transform: uppercase;
}
.courses{
    text-transform: capitalize;
}
.courses p span{
    color: #16649f;
    font-weight: 600;
}
.skills h3{
    color: #16649f;
    padding: 30px 0 30px 0;
    text-transform: capitalize;
}

/* dev-school section */

.dev-school {
    height: 200px;
    width: 100%;
    background: linear-gradient(
      91.01deg,
      #16649f -3.55%,
      rgba(22, 100, 159, 0.5) 105.87%
    );
    margin-top: 10px;
    position: relative;
  }
  .dev-school h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
    font-family: "Libre Franklin";
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 40px;
    line-height: 60px;
  }

/* will you learn section */

.learn {
    display: flex;
    width: 100%;
    height: 480px;
    font-family: 'Raleway';
}
.will-you-learn {
     width: 55%;
}
.will-you-learn h2{
   padding: 80px 0 80px 90px;
   font-size: 2.2rem;
   font-weight: 400;
}
.will-you-learn p{
   padding-left: 70px;
   max-width: 650px;
   line-height: 25px;
}
 .paragraph1 {
   margin: -35px 0 30px 0;
 }
.image {
 width: 45%;
} 
.image img{
    padding-top: 30px;
}

/* apply section */

.Apply-section{
    background-image: url(../images/Rectangle\ 403.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}
.heading-text{
    font-size: 2.2rem;
    font-family: 'Raleway';
    padding: 40px 0 0 70px;
    font-weight: 400;
}
.apply{
    display: flex;
    justify-content: space-around;
    margin: 30px 0 30px 0;
}
.text-1{
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
}
.text-2{
    color: #16649f;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0 3px 0;
}
.apply p{
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 15px;
}
.apply-here{
    height: 45px;
    width: 200px;
    background-color: #FD5F3C;
    border: 1px solid #FD5F3C;
    border-radius: 30px;
    margin: 40px 0 0 600px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 14px;
}

/* course ad-ons section */

.course-ad-ons{
    background-color: #F4F4F4;
    width: 100%;
    height: 250px;
    position: absolute;
}
.course-heading h3{
    font-family: 'Raleway';
    font-size: 2.2rem;
    font-weight: 400;
    padding: 30px 0 20px 100px;
    text-transform: capitalize;
}
.course-section{
    display: flex;
    justify-content: space-around;
}
.course p{
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 25px;
}
.course .surprises{
    text-transform: lowercase;
}
.career{
    height: 45px;
    width: 200px;
    background-color: #FD5F3C;
    border: 1px solid #FD5F3C;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 14px;
    margin-top: 70px;
    margin-right: 110px;
}
.course-img img{
    height: 200px;
    width: 200px;
    margin-top: -60px;
}

/* feedback section */

.feedback{
    background-color: #16649f;
    height: 800px;
    width: 100%;
}





